<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.15.1/css/patternfly.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.15.1/css/patternfly-additions.css">
</head>
<body>
  <table class="table table-striped table-bordered">
    {{#each families}}
      <tbody>
        <tr><th colspan="4"><h2>{{name}}</h2></th></tr>
        <tr><th>Pattern</th><th>overview.md</th><th>design.md</th><th>site.md</th></tr>
        {{#each patterns}}
          <tr>
            <td>{{name}}</td>
            {{#each files}}
              <td>
                {{#if exists}}
                  <span class="fa fa-check" style="color: #2d7623"></span>
                {{else}}
                  <span class="pficon pficon-close" style="color: #a30000"></span>
                {{/if}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    {{/each}}
  </table>
</body>
</html>
